@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

/* variables */
:root {    
    --white: #fff;
    --black: #000;
    --blue: #2596be;
}

/* global styles and resets */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* font reset 1rem = 10px */
html,
body {
    height: 100%;
    font-size: 62.5%;
}

/* default font size 1.6rem = 16px */
body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.hide {
    display: none !important;
}

.homepage-game-container, .game-container {
    display: flex;    
    flex-direction: column;
    position: relative;
    top: 33vh;
    max-height: 80rem;
    max-width: 80rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;    
}

.start-game {
    position: relative;
    top: 3rem;    
    border-radius: 1rem 0 1rem 0;
    width: 8rem;
    padding: 1rem;
    background: #2596be;
}

.start-game:hover {
    background: #2596be90;
    transition: background-color 0.3s ease-in-out;
}


.next-question {
    
}


