@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

/* variables */
:root {
    --white: #fff;
    --black: #000;
    --blue: #0476D0;
    --blue-dark: #191970;
    --green: #469b4c;
    --green-dark: #3c6e57;
    --coral: #f35c6e;
    --coral-dark: #c73f65;
}

/* global styles and resets */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* font reset 1rem = 10px */
html,
body {
    height: 100%;
    font-size: 62.5%;
}

/* default font size 1.6rem = 16px */
body {
    font-size: 1.6rem;   
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100%;
    min-height: 48rem;
    max-width: 80rem;
    margin: 0 auto;
}

.hero {
    content: "";
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/question-mark-chalk-blackboard-pexels-pixabay-356079.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.hide {
    display: none !important;
}

.thin-font {
    font-weight: 400;
}

.center {
    text-align: center;
    margin: 0 auto;
}

#slogan {
    position: relative;
    top: 5rem;
}

.homepage-game-container,
.game-container {
    /* display: flex;    
    flex-direction: column; */
    display: grid;
    grid-template-columns: auto;
    position: relative;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

.start-game {
    position: relative;
    top: 10rem;
    border-radius: 1rem 0 1rem 0;
    min-width: 10rem;
    padding: 1rem 0;
    color: var(--white);
    background: var(--blue);
}

.start-game:hover {
    background: var(--blue-dark);
    transition: background-color 0.3s ease-in-out;
}

.question,
.message {
    padding: 1rem 5px;
}

.restart,
.next-question {
    border-radius: 1rem 0 1rem 0;
    min-width: 10rem;
    padding: 1rem;
    margin: 1rem auto;
    color: var(--white);
    background: var(--coral);
}

.restart:hover {
    background: var(--coral-dark);
    transition: background-color 0.3s ease-in-out;
}

.next-question {
    background: var(--blue);
}

.next-question:hover {
    background: var(--blue-dark);
    transition: background-color 0.3s ease-in-out;
}

.answers {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.answer-option {
    width: 99vw;
    border-radius: 1rem 0 1rem 0;
    min-width: 15rem;
    padding: 1rem;
    background: var(--green);
}

.answer-option:hover {
    background: var(--green-dark);
    transition: background-color 0.3s ease-in-out;
}

.answer-option-clicked {
    cursor: not-allowed;
}

.correct-answer-selected {
    background: var(--blue) !important;
}

.incorrect-answer-selected {
    background: var(--coral);
}

@media screen and (min-width: 360px) {

    .homepage-game-container,
    .game-container {
        position: relative;
        top: 5rem;
    }
}

@media screen and (min-width: 768px) {

    body {
        font-size: 2rem;
    }

    .homepage-game-container,
    .game-container {
        position: relative;
        top: 10rem;
    }

    .answer-option {
        width: 75vw;
    }
}